@use "../../../../shared/styles/index" as *;

.StakeholderBanner {
  color: $white;
  @include flexColumn(flex-start, flex-start);
  gap: $large;
  min-height: auto;

  .path {
    a {
      text-decoration: underline;
      color: $white;
    }
    .useCase {
      text-transform: uppercase;
    }
  }

  .content {
    h2 {
      margin-bottom: $small;
    }
  }
}
