@use "../../../../../shared/styles/index" as *;

.EUDuneCarouselSection {
  @include flexColumn(center, flex-start);
  gap: $large;
  h2 {
    color: $primary;
    font-size: 2.5rem;
    text-align: center;
  }

  .btnReadMore {
    width: max-content;
    margin: $small auto 0 auto;
    transition: transform 0.15s ease-in-out;

    &:hover {
      box-shadow: $shadow;
    }
  }
}
