@use "../../../../../shared/styles/index" as *;

.StakeholderContentSection {
  @include flexColumn(center, space-between);
  gap: $large;
  .cards {
    @include fluidGrid(530px);
    gap: $large;
    width: 100%;
  }
  button {
    color: $white;
  }
}
