@use "../../../../shared/styles/index" as *;

.SectionContainer {
  @include sizingContent();
  min-height: 450px;
  overflow: hidden;
}

.primary {
  background-color: $primary;
  color: $white;
}

.secondary {
  background-color: $secondary;
}

.white {
  background-color: $white;
}

.grey {
  background-color: $grey;
}

.hightLightPrimary {
  background-color: $hight-light-primary;
}

.lightPrimary {
  background-color: $light-primary;
}

.tertiary {
  background-color: $tertiary;
}

.quaternary {
  background-color: $quaternary;
}
