@use "../../../../../shared/styles/index" as *;

.SchemaBuildingBlocksSection {
  position: relative;
  overflow: auto;
  cursor: grab;
  user-select: none;
  -webkit-overflow-scrolling: touch;

  &:active {
    cursor: grabbing;
  }

  button {
    border-radius: 0;
    padding: 0.5rem 1.2rem;
    font-size: 1.05rem;
  }

  .schema {
    margin: auto;
    position: relative;
    min-height: 1650px;
    width: 1300px;

    .provider {
      position: absolute;
      left: 0;
      top: 48%;
    }

    .main {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    .consumer {
      position: absolute;
      right: 0;
      top: 48%;
    }

    .PDILeft {
      position: absolute;
      top: 20.2%;
      left: 16.9%;
      width: 270px;
    }

    .PDIRight {
      position: absolute;
      top: 20.2%;
      right: 16.9%;
      width: 270px;
    }

    .providerTop {
      position: absolute;
      top: 34%;
      transform: rotate(90deg);
      width: 35%;
      left: -0.5%;
    }

    .consumerTop {
      position: absolute;
      top: 34%;
      transform: rotate(90deg);
      width: 35%;
      right: -0.5%;
    }

    .trustLeft {
      position: absolute;
      top: 40%;
      left: 23%;
      width: 205px;
    }

    .trustRight {
      position: absolute;
      top: 40%;
      right: 23%;
      width: 205px;
    }

    .providerBarTop {
      position: absolute;
      top: 44%;
      transform: rotate(90deg);
      width: 10%;
      left: 18%;
    }

    .consumerBarTop {
      position: absolute;
      top: 44%;
      transform: rotate(90deg);
      width: 10%;
      right: 18%;
    }

    .identifyLeft {
      position: absolute;
      top: 46.8%;
      left: 23%;
      width: 205px;
    }

    .identifyRight {
      position: absolute;
      top: 46.8%;
      right: 23%;
      width: 205px;
    }

    .marketLeft {
      position: absolute;
      bottom: 43%;
      left: 34%;
      width: 60px;
    }

    .marketRight {
      position: absolute;
      bottom: 43%;
      right: 34.5%;
      width: 57px;
    }

    .publicationLeft {
      position: absolute;
      bottom: 32%;
      left: 34%;
      width: 60px;
      p {
        top: -45px;
        font-size: 0.9rem;
      }
    }

    .publicationRight {
      position: absolute;
      bottom: 32%;
      right: 34.5%;
      width: 57px;
      p {
        top: -45px;
        font-size: 0.9rem;
      }
    }

    .accessLeft {
      position: absolute;
      bottom: 25%;
      left: 34%;
      width: 60px;
    }

    .accessRight {
      position: absolute;
      bottom: 25%;
      right: 34.5%;
      width: 57px;
    }

    .connectionProvider {
      position: absolute;
      bottom: 22.2%;
      transform: rotate(90deg);
      width: 5.6%;
      left: 27.3%;
    }

    .connectionConsumer {
      position: absolute;
      bottom: 22.2%;
      transform: rotate(90deg);
      width: 5.6%;
      right: 27.3%;
    }

    .connection {
      position: absolute;
      bottom: 19.9%;
      width: 40%;
      right: 30%;
    }

    .providerBot {
      position: absolute;
      bottom: 18%;
      transform: rotate(90deg);
      width: 10%;
      left: 20%;
    }

    .consumerBot {
      position: absolute;
      bottom: 18%;
      transform: rotate(90deg);
      width: 10%;
      right: 20%;
    }

    .dataModelsLeft {
      position: absolute;
      bottom: 14%;
      width: 13.5%;
      left: 25%;
    }

    .dataModelsRight {
      position: absolute;
      bottom: 14%;
      width: 13.5%;
      right: 25%;
    }
  }
}
.legend {
  @include flexColumn(flex-start);
  gap: $small;
  min-height: auto;
  padding-block: 1rem;

  h2 {
    font-size: 1.5rem;
  }

  button {
    border-radius: 0;
    padding: 0.5rem 1.2rem;
    font-size: 1.05rem;
    color: $white;
    width: 100%;
    text-align: start;
    justify-content: flex-start;
    max-width: 300px;
    cursor: initial;
  }
}

@include resolution(desktop, max-width) {
  .SchemaBuildingBlocksSection {
    .schema {
      transform: scale(0.7) translate(-15%, -15%);
    }
  }
}

@include resolution(x-desktop, max-width) {
  .SchemaBuildingBlocksSection {
    .schema {
      transform: scale(0.6) translate(-25%, -25%);
    }
  }
}
