@use "../../../../shared/styles/index" as *;

.UXCard {
  border-radius: 0;
  color: $white;
  padding: 1rem 1.5rem;
  cursor: pointer;
  max-width: 320px;
  min-height: 250px;
  width: 100%;
  @include flexColumn();
  gap: 0;
  transition: all 0.25s ease-in-out;

  &:hover {
    box-shadow: 0 0px 25px 5px #00000026;
  }

  h3 {
    font-size: 1.3rem;
  }

  .wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.25s ease-in-out;
    padding: 0;
    .inner {
      overflow: hidden;
      z-index: 2;

      .btnReadMore {
        margin: $medium auto 0 auto;
        color: $white;
        z-index: 5;
      }
    }
  }
}

.isOpen {
  gap: $medium;

  h3 {
    transform: translateX(0);
  }
  .wrapper {
    grid-template-rows: 1fr;
  }
}
