@use "../../../../shared/styles/index" as *;

.StakeholderCard {
  width: 280px;
  background-color: $white;
  @include flexColumn(stretch, space-between);
  position: relative;
  overflow: visible;
  transition: all 0.15s ease-in-out;

  &:hover {
    box-shadow: $shadow;
  }

  header {
    @include flexColumn();
    gap: $small;
    padding: 1.5rem;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: contain;
      border-radius: 1rem;
    }

    h3 {
      font-size: 1.4rem;
      font-weight: bold;
      text-align: center;
      text-wrap: balance;
      color: $black;
    }
  }

  .content {
    button {
      width: 100%;
      border-top: 1px solid black;
      padding: 0.5rem 1.5rem;
      font-size: 1.2rem;
      color: $black;
      transition: all 0.15s ease;

      &:last-child {
        border-radius: 0 0 30px 30px;
      }
    }
  }

  &:nth-child(5n + 1) {
    header {
      h3 {
        color: $hight-light-primary;
      }
    }

    .content {
      button {
        svg {
          background-color: $hight-light-primary !important;
        }

        &:hover {
          background-color: $hight-light-primary !important;

          color: $white;

          svg {
            background-color: $white !important;
            stroke: $hight-light-primary;
          }
        }
      }
    }
  }

  &:nth-child(5n + 2) {
    header {
      h3 {
        color: $tertiary;
      }
    }

    .content {
      button {
        svg {
          background-color: $tertiary !important;
        }

        &:hover {
          background-color: $tertiary !important;

          color: $white;

          svg {
            background-color: $white !important;
            stroke: $tertiary;
          }
        }
      }
    }
  }

  &:nth-child(5n + 3) {
    header {
      h3 {
        color: $light-primary;
      }
    }

    .content {
      button {
        svg {
          background-color: $light-primary !important;
        }

        &:hover {
          background-color: $light-primary !important;

          color: $white;

          svg {
            background-color: $white !important;
            stroke: $light-primary;
          }
        }
      }
    }
  }

  &:nth-child(5n + 4) {
    header {
      h3 {
        color: $quaternary;
      }
    }

    .content {
      button {
        svg {
          background-color: $quaternary !important;
        }

        &:hover {
          background-color: $quaternary !important;

          color: $white;

          svg {
            background-color: $white !important;
            stroke: $quaternary;
          }
        }
      }
    }
  }

  &:nth-child(5n + 5) {
    header {
      h3 {
        color: $secondary;
      }
    }

    .content {
      button {
        svg {
          background-color: $secondary !important;
        }

        &:hover {
          background-color: $secondary !important;

          color: $white;

          svg {
            background-color: $white !important;
            stroke: $secondary;
          }
        }
      }
    }
  }
}
