@use "../../../../../shared/styles/index" as *;

.UseCaseDiscoverSection {
  @include flexColumn();
  gap: 50px;
  text-align: center;

  h2 {
    color: $primary;
  }

  .cards {
    width: 100%;
    @include flexRow(center, flex-start);
    flex-wrap: wrap;
    gap: $large;
  }
}
