@use "../../../../shared/styles/index" as *;

.TechnicalTrackGovernanceCard {
  background-color: $white;
  padding: 1rem 2rem;
  @include flexColumn(stretch, flex-start);
  gap: $x-large;
  border-radius: 0;

  .content {
    @include flexColumn(stretch);
    gap: $small;
  }
  p {
    font-size: 1.2rem;
  }

  ul {
    @include fluidGrid(150px);
    gap: $medium;
    list-style-type: none;

    li {
      @include flexColumn();
      background-color: $primary;
      color: $white;
      text-align: center;
      padding: 0.5rem 0.8rem;
    }
  }

  .listFunctionalites {
    list-style: inside;
    @include flexColumn(flex-start, flex-start);

    li {
      text-align: start;
      align-items: flex-start;
      justify-content: flex-start;
    }

    ul {
      list-style: inside;
      list-style-type: disc;
    }
  }

  .clickable {
    background-color: $hight-light-primary;
    cursor: pointer;
  }
}
