@use "../../../../../shared/styles/index" as *;

.TechnicalTrackGovernanceContent {
  @include flexColumn(stretch);
  gap: $large;

  .content {
    @include fluidGrid(500px);
    gap: $large;
    height: auto;
    min-height: auto;
  }

  .btn {
    width: fit-content;
    margin-inline: auto;
    margin-top: $small;
  }
}
