@use "../../../../../shared/styles/index" as *;

.MainSchemaSection {
  @include flexColumn(stretch);
  gap: $medium;
  max-width: 320px;

  button {
    color: $white;
  }

  .arrow {
    width: 30px;
    height: auto;
    transform: rotate(90deg);
    margin: auto;
  }
}
