@use "../../../../shared/styles/index" as *;

.ExploreCard {
  border-radius: 0 0 $large $large !important;
  width: 100%;
  max-width: 290px;
  min-width: 250px;

  img {
    width: 100%;
    max-width: 100%;
    min-height: 250px;
    object-fit: cover;
    cursor: pointer;
  }

  .mainButton {
    width: 100%;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: start;
    padding: 1.7rem 1.5rem;
    color: $black;
    svg {
      transition: transform 0.2s ease-in-out;
      transform: rotate(0deg);
      background-color: black;
    }
  }

  .animationMainButton {
    svg {
      transform: rotate(45deg);
    }
  }

  .wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.25s ease-in-out;
    padding: 0;
    .inner {
      overflow: hidden;

      button {
        border-top: 2px solid $white;
        text-align: start;
        width: 100%;
        color: $black;
      }
    }
  }

  .isOpen {
    grid-template-rows: 1fr;
  }
}

.discover {
  svg {
    background-color: initial !important;
  }

  button {
    color: $white;
  }
}
