@use "../../../../shared/styles/index" as *;

.HomeBanner {
  background-color: $primary;
  min-height: 200px;
  color: white;
  @include flexRow(space-between);
  gap: $medium;

  .description {
    @include flexColumn(flex-start);
    gap: $medium;
    z-index: 2;

    button {
      &:hover {
        box-shadow: 0 0 15px -3px $white;
      }
    }
  }

  .image {
    position: relative;
    width: calc(100% + 1rem);
    display: flex;
    transform: translateY(3.5rem);
    z-index: 1;
    .mainImg {
      width: 100%;
      z-index: 2;
      position: relative;
      align-self: center;
      max-height: 450px;
      object-fit: contain;
      transform: translateY(3.5rem);
    }

    .cube {
      position: absolute;
      z-index: 1;
      opacity: 0.2;
      height: 130%;
      transform: translate(15%, -10%);
      object-fit: contain;
    }
  }

  @include resolution(xx-desktop, max-width) {
    flex-wrap: wrap;
    justify-content: center;
    gap: $medium;

    .description {
      text-align: center;
      align-items: center;
    }
  }

  @include resolution(tablet, max-width) {
    @include flexColumn();
    .image {
      .cube {
        height: 150%;
        transform: translate(0%, -25%);
      }
    }
  }
}
