$primary: #4d008c;
$secondary: #00ce7c;

$light-primary: #7e57c5;
$light-secondary: #ccf5e5;
$title: #49d49c;

$green: #00ce7c;
$purple: #241a46;
$white: #ffffff;

$gradient-footer: linear-gradient(-130deg, $secondary, #397fbe, $primary 80%);
