$primary: #4d008c;
$secondary: #00ce7c;
$tertiary: #f4b223;
$quaternary: #00a9e0;

$light-primary: #7e57c5;
$light-secondary: #92debc;
$light-tertiary: #fdcf85;
$light-quaternary: #95d4e9;

$hight-light-primary: #9e5aff;

$dark-primary: #241a46;
$dark-secondary: #005640;
$dark-tertiary: #b16d03;
$dark-quaternary: #004d71;

$title: #49d49c;

$green: #ccf5e5;
$grey: #e6e6e6;
$purple: #241a46;
$white: #ffffff;
$black-opacity: #00000026;

$gradient-footer: linear-gradient(
  -130deg,
  $secondary,
  $quaternary,
  $primary 80%
);
