$x-small: 5px;
$small: 10px;
$x-medium: 15px;
$medium: 20px;
$x-large: 25px;
$large: 30px;

$padding-content-mobile: $medium 1.3rem;
$padding-content-tablet: $medium 5rem;
$padding-content: $medium 10rem;
$max-width-content: 1230px;
