$x-small: 5px;
$small: 10px;
$x-medium: 15px;
$medium: 20px;
$x-large: 25px;
$large: 30px;

$padding-content-mobile: 3.5rem 1rem;
$padding-content-tablet: 3.5rem 3rem;
$padding-content: 3.5rem 4rem;
$max-width-content: 1230px;

$zindex-backdrop: 200;
$zindex-modal: 220;
