@use "../../../../../shared/styles/index" as *;

.PersonalDataIntermediarySchema {
  @include flexColumn();
  gap: $small;
  figure {
    @include flexColumn();

    img {
      width: 80px;
      height: 80px;
      aspect-ratio: 1/1;
    }

    figcaption {
      font-weight: bold;
    }
  }
  button {
    color: $white;
  }

  .arrow {
    width: 30px;
    height: auto;
    transform: rotate(90deg);
  }

  img {
    width: 80px;
    height: 80px;
    aspect-ratio: 1/1;
  }

  .section {
    background-color: $tertiary;
    cursor: initial;
    font-weight: bold;

    button {
      font-weight: bold;
    }
  }
}
