@use "../../../../../shared/styles/index" as *;

.HomeExploreSection {
  @include flexColumn();
  gap: 50px;
  width: 100%;

  h2 {
    font-size: 2rem;
    text-align: center;
  }

  .cards {
    width: 100%;
    @include flexRow(center, flex-start);
    flex-wrap: wrap;
    gap: $large;
  }
}
