@use "../../../../shared/styles/index" as *;

.GovernanceBanner {
  @include flexColumn(flex-start);
  gap: $large;

  header {
    @include flexColumn(flex-start);
    gap: $x-medium;

    ul {
      list-style: inside;
      padding-left: $medium;
      span {
        font-weight: bold;
      }
      li {
        font-size: 1.3rem;
      }

      .mainLi {
        &::marker {
          content: "-";
        }
      }
    }
  }
}

.bgImage {
  background-image: url(../../../../assets/imgs/img/governance/banner.jpg);
  background-position: center;
  background-size: cover;
}
