@use "../../../../shared/styles/index" as *;

.GovernanceBanner {
  @include flexColumn(flex-start);
  gap: $large;
  background-image: url(../../../../assets/imgs/img/governance/banner.jpg);
  background-position: center;
  background-size: cover;

  header {
    @include flexColumn(flex-start);
    gap: $x-medium;
  }
}
