@use "../../../../shared/styles/index" as *;

.WrapperSchemaButtons {
  @include flexColumn(stretch);
  border-radius: 0;
  padding: $small;
  gap: $small;

  p {
    font-size: 1.05rem;
    color: $white;
    text-align: center;
  }

  .content {
    @include flexColumn(stretch);
    gap: $small;
  }
}

.grid {
  .content {
    @include fluidGrid(150px);
  }
}
