:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-primary: #7e57c5;
  --color-dark-primary: #4d008c;
  --color-secondary: #ccf5e5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}

.backdrop {
  position: fixed;
  inset: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 200;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.img-placeholder {
  background-color: black;
  width: 250px;
  max-width: 250px;
  min-width: 250px;
  height: 250px;
  min-height: 250px;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.4rem;
}

@media screen and (max-width: 650px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  p {
    font-size: 1.375rem;
  }
}

.slide-top-animation {
  animation: slide-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.opacity-animation {
  animation: opacity 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-top-bg-image {
  animation: slide-top-bg-image 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-top {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-top-bg-image {
  from {
    background-position: top;
  }
  to {
    background-position: center;
  }
}
