@use "../../../../shared/styles/index" as *;

.FooterList {
  text-decoration: none;
  list-style: none;
  @include flexColumn(flex-start);
  gap: $x-small;
  font-size: 1.1rem;
  min-width: fit-content;

  .title {
    font-weight: bold;
    font-size: 1.35rem;
    margin-bottom: $small;
  }

  li {
    &:is(:not(.title)):hover {
      text-decoration: underline;
    }
  }
}
