@use "../../shared/styles/index" as *;

.HomePage {
  .description {
    @include flexColumn();
    gap: $large;
    text-align: center;
    color: $secondary;
    span {
      font-weight: bold;
    }

    img {
      width: 71px;
      height: 71px;
      min-width: 71px;
      min-height: 71px;
    }
  }

  .cardsContainer {
    @include flexColumn();
    gap: 50px;
    width: 100%;

    h2 {
      font-size: 2rem;
    }

    .cards {
      width: 100%;
      @include flexRow(center, flex-start);
      flex-wrap: wrap;
      gap: $large;
    }
  }

  .blueprint {
    @include flexColumn();
    gap: $large;

    &Content {
      @include flexColumn();
      gap: $medium;
      text-align: center;
      h2 {
        color: $secondary;
      }

      p {
        span {
          font-weight: bold;
        }
      }
    }

    @include resolution(tablet) {
      @include flexRow(space-between);
      &Content {
        text-align: start;
        align-items: flex-start;
      }
    }
  }
}
