@use "../../../../../shared/styles/index" as *;

.EUDuneUXSection {
  @include flexColumn(stretch);
  gap: $large;

  header {
    @include flexColumn();
    gap: $medium;
    h2 {
      color: $primary;
      font-size: 2.5rem;
      text-align: center;
    }

    div {
      @include flexColumn();
      gap: $small;
    }
  }

  .cards {
    @include fluidGrid(350px);
    justify-items: center;
    align-items: flex-start;
    gap: $large;
  }
}
